$color__primary: #a57ff7;
$color__secondary: #fd4b1b;
$color__light: #fffcfb;
$color__dark: #0a083b;

$unit__tiny: 0.4rem;
$unit__small: 0.8rem;
$unit__normal: 1.6rem;
$unit__submedium: 2.4rem;
$unit__medium: 3.2rem;
$unit__large: 4.8rem;
$unit__huge: 6.4rem;
$unit__gigantic: 12.8rem;
