@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: $color__dark;
}
